[Service]
ExecStart=/opt/signalk/signalk-server
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/signalk
User=signalk
Environment=EXTERNALPORT=3000
[Install]
WantedBy=multi-user.target
