[Unit]
Description=Signalk server
Requires=signalk.socket
After=network.target

[Service]
ExecStart=/opt/signalk/signalk-server
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/signalk
User={{signalk_user}}
Environment=EXTERNALPORT={{ externalport }}

[Install]
WantedBy=multi-user.target
#make these templates